.tableContainer {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  overflow: auto;
}

.table {
  background-color: #1f2937;
  border-radius: 0.5rem;
  border: 1px solid #374151;
}

.table th {
  padding: 1rem 2rem;
  text-align: left;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #d1d5db;
  border-bottom: 1px solid #374151;
  font-weight: bold;
}

.table td {
  padding: 1rem 2rem;
  white-space: nowrap;
  font-size: 0.9rem;
  color: #d1d5db;
  border-bottom: 1px solid #374151;
}

tr:last-child td {
  border-bottom: none;
}